/* We can think about what to hide */
.toggle-hide tbody,
.toggle-hide .form-actions {
  display: none;
}
.field-widget-toggle .open {
  display: none;
}
.toggle-hide .open {
  display: inline;
}
.toggle-hide .close {
  display: none;
}
.field-widget-toggle {
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding: 5px 10px 5px 0;
}
.field-widget-toggle:after {
  /* Taken form Bootstrap Icons */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  cursor: pointer;
  margin-left:10px;
}
.toggle-hide .field-widget-toggle:after {
  /* Taken form Bootstrap Icons */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}